<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center"> Forgot Password</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="forgotFrom">
        <div fxFlex fxLayout="column">
          

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Eamil </mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="forgotFrom.controls.email.touched && forgotFrom.controls.email.invalid">
                    <span *ngIf="forgotFrom.controls.email.errors.required">This filed is mandetory</span>
                    <span *ngIf="forgotFrom.controls.email.errors.pattern">This filed is invalid</span>
                </mat-error>
            </mat-form-field>

           

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center" >
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(forgotFrom.valid && forgotFrom.dirty)"> Send Password</button>
    <button mat-raised-button color="primary" mat-dialog-close >Close</button>
</mat-dialog-actions>